<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>gouz | Sylvain Gougouzian</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="theme-color" content="#000000" />
  <link rel="me" href="https://mastodon.social/@gouz" />
</head>

<body>
  <h1>
    <a href="https://sylvain.gougouzian.fr" rel="noopener" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 179 208">
        <path class="bulb" fill="none" stroke="currentColor" stroke-linejoin="bevel" stroke-width="6"
          d="M33.6 135a72 72 0 1 1 115.7-.4" />
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"
          d="m27 149-8 6 .3 17s8.7 16 76.4 15.3c60-.6 68.3-14 68.3-14l-.3-18.3-6.4-5.7s-4.6 15.7-66 15.4c-59.6-.4-63.6-12-63.6-12V127s-1.4 18.3 63.6 18c64.7-.3 65.4-19.7 65.4-19.7l.3 24.4m-87.3-42.8-24.4-13 24.4-14m43.6 27 24.4-13-24.4-14m-14.5-4.3-14.6 35.6" />
      </svg>
      <span>Sylvain Gougouzian</span>
    </a>
  </h1>
  <main id="app">

    {{> socials}}
    {{> talks}}
    {{> projects}}

  </main>
  <footer></footer>
  <script type="module" src="/src/main.js"></script>
</body>

</html>