<li>
    <a href="{{url}}" rel="noopener" target="_blank" style="background-color: {{bgcolor}}; color: {{color}}">
        <img src="/projects/{{image}}" alt="{{title}}" width="96" height="96" />
        <span>{{title}}</span>
    </a>
</li>