*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  background: #005c79;
  transition: background-color 200ms linear;
  color: #f9f871;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 1rem 0;
  padding: 5px;
  border-radius: 5px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #16cad8;
    flex-direction: column;
  }

  svg {
    display: block;
    width: 192px;
    height: 192px;
    border-radius: 100%;
    border: 5px solid white;
    background-color: white;
    box-shadow: 0 0 5px rgba(149, 157, 165, 0.2);
  }

  span {
    margin-left: 5px;
    font-size: 2rem;
  }

  &:hover {
    a {
      color: #16cad8;
    }
  }
}

#app {
  h2 {
    text-align: center;
    margin: 2rem 0 1rem;
    color: #f9f871;
  }

  .launcher {
    display: none;
  }

  ul {
    li {
      list-style: none;
      margin: 1rem;

      a {
        display: flex;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        align-items: center;
        padding: 0.5rem;
        text-decoration: none;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        img {
          width: 96px;
          height: 96px;
        }

        span {
          padding-left: 1rem;
          font-weight: 400;
        }
      }

      a:hover {
        scale: 1.1;
        z-index: 10;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  h1 {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(149, 157, 165, 0.2);
    background-color: white;

    a {
      flex-direction: row;
      color: #005c79;
    }

    svg {
      width: 32px;
      height: 32px;
      border-width: 0;
    }

    span {
      margin-left: 5px;
      font-size: 1rem;
    }
  }

  #app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(-64deg, #16cad8 50%, #005c79 50%);

    h2 {
      color: #f9f871;
      font-size: 3rem;
    }

    .wrappers {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .launcher-wrapper {
      margin-top: 50px;
      position: relative;
      width: 112px;
      height: 112px;
    }

    .launcher {
      color: #131282;
      padding: 1rem;
      display: flex;
      align-items: center;
      border-radius: 50%;

      background: linear-gradient(145deg, #ffffff, #e6e6e6);

      &:hover {
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
      }

      svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        scale: 1;
        z-index: 10;
      }
    }

    ul {
      li {
        margin: 0;
        a {
          box-shadow: none;
          border-radius: 100%;
          span {
            display: none;
          }
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 4vw;
  text-align: center;
  width: 100vw;
  color: #f9f871;
}
